* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
   /* outline: 2px solid red; */
}

body {
    background: gray;
}

img {
    height: 300px;
    width: 300px;
    margin-top: 10px;
}

li {
    text-align: left;
    margin: 5px;
}

ol {
    padding-left: 10px;
}

.card {
    width: 500px;
    background: white;
    margin: 20px auto;
    padding: 25px;
}

.title {
    background: lightblue;
    text-align: center;
    padding: 10px; 
    margin: 10px auto;
}

.recipe-links, .ingredients {
    width: fit-content;
    padding: 10px; 
    margin: 0 auto;
}

.link-box {
    background: lightblue;
}

.title p {
    padding: 5px;
    text-align: left;
}